<html>
<head>
    <title>Video Rental User Interface</title>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
</head>
<body>
    <div class="container"><br/>
        <h1>Video Rental User Interface</h1>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert"
               aria-label="close">×</a>
            <strong>Success!</strong> It is working as we expected.
        </div>
    </div>
</body>

</html>